<html>
<head>
<title>{% block titulo %}{% endblock %}</title>
<link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<header><h2>Framework Flask, un nuevo tipo de creación de sitios web</h2></header>
<menu>
<ul>
<li><button><a href="/Opereciones/templates/resta.html">Restar</a></button></li>
<li><button><a href="/Opereciones/templates/resta.html">Restar</a></button></li>
<li><button><a href="/Opereciones/templates/resta.html">Restar</a></button></li>
<li><button><a href="/Opereciones/templates/resta.html">Restar</a></button></li>
</ul>

</menu
</menu>
<main>{% block contenido %}{% endblock %}</main>
<footer><h4>Autor: Montes Rodriguez Jacqueline Guadalupe</h4></footer>
</body>
</html>
